@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  transition: all 0.3s ease;
}
body {
  transition: all 0.3s ease;
  line-height: 1.6;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-bar {
  -o-border-image: linear-gradient(139deg, #fb1717, #640101, #570e0e, #420909) 3;
  border-image: linear-gradient(139deg, #fb1717, #630101, #5f1010, #4b0c0c) 3;
}
